* {
  font-family: LTSoul;
  box-sizing: border-box;
  background: #ece7db;
}

.bg {
  background: #ece7db;
}

.logo {
  width: 25vh;
}

.nav-bar-link {
  font-family: LTSoul-Bold;
  font-weight: 900;
}

.nav {
  margin-bottom: 20vh;
}

.mobile-nav-button {
  display: none;
}

.modal {
  padding: 1em;
  max-width: 50ch;
  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.dropdown-bg {
  background-color: #ece7db !important;
}

.dropdown-bg a:hover {
  background-color: #ece7db !important;
}

.about-us-card div,
a,
p,
.about-us-card {
  background-color: #f7f5f2;
}

.about-us-card h1 {
  background-color: #f7f5f2;
}

.text-card {
  width: 60%;
}

.text-card p {
  font-size: 28px;
}

.image-ana {
  background-image: url("../images/DrAna.jpeg");
  height: 80vh;
  width: 70%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 50%;
}

.footer div,
.footer a,
.footer p,
.footer img,
.footer ion-icon,
.footer {
  background-color: #f7f5f2;
  color: #231f20;
}

.icons a {
  color: #231f20;
}

@media screen and (max-width: 600px) {
  .mobile-footer {
    display: none;
  }

  .mobile-nav-button {
    display: block;
  }

  .mobile-footer-icons {
    justify-content: center;
  }

  .text-card p {
    font-size: 18px;
  }

  .text-card {
    width: 100%;
  }

  .image-ana {
    height: 40vh;
  }

  .text-consultation {
    font-size: 16px !important;
  }
}
