*{
    font-family: LTSoul;
    box-sizing: border-box;
    background: #ECE7DB;
}

.logo{
    width: 200px;
}

.nav-bar-link{
    font-family: LTSoul-Bold;
    font-weight: 900;
}

.nav{
    margin-bottom: 30vh;
}

.modal{
    padding: 1em;
    max-width: 50ch;
    & > *{
        margin: 0 0 0.5rem 0;
    }
}

.dropdown-bg{
    background-color: #ECE7DB !important;
}

.dropdown-bg a:hover{
    background-color: #ECE7DB !important;
}